/* compass */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* setup */
/* @group media queries */
/* @end */
/* @group miscellaneous placeholders */
/* @end */
/* @group animations */
/* @end */
@font-face {
  font-family: 'eraserdustregular';
  src: url("erasdust-webfont.eot");
  src: url("erasdust-webfont.eot?#iefix") format("embedded-opentype"), url("erasdust-webfont.woff") format("woff"), url("erasdust-webfont.ttf") format("truetype"), url("erasdust-webfont.svg#eraserdustregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eraserregular';
  src: url("eraser-webfont.eot");
  src: url("eraser-webfont.eot?#iefix") format("embedded-opentype"), url("eraser-webfont.woff") format("woff"), url("eraser-webfont.ttf") format("truetype"), url("eraser-webfont.svg#eraserregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* layout */
/* @group general styling */
/* line 2, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 7, ../sass/_base.scss */
html {
  font-family: 'eraserregular', 'Amatic SC', cursive;
  height: 100%;
  width: 100%;
}

/* line 13, ../sass/_base.scss */
body {
  overflow: hidden;
  font-family: 'eraserregular', Arial;
  background-image: url("../../images/floortile.svg");
  background-size: 175px;
  height: 100%;
  min-height: 100%;
}

/* @end */
/* @group additional styling */
/* line 38, ../sass/_base.scss */
.hide {
  display: none;
}

/* line 42, ../sass/_base.scss */
.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* @end */
/* line 3, ../sass/_content.scss */
canvas {
  width: 320px;
  height: 240px;
  left: 5%;
  position: absolute;
  bottom: 10%;
}

/* line 10, ../sass/_content.scss */
.produce {
  position: absolute;
  height: auto;
}
/* line 15, ../sass/_content.scss */
.produce.tomato {
  width: 100px;
}
/* line 19, ../sass/_content.scss */
.produce.burrito {
  width: 150px;
}
/* line 23, ../sass/_content.scss */
.produce.carrot {
  width: 200px;
}
/* line 27, ../sass/_content.scss */
.produce.broccoli {
  width: 100px;
}

/* line 32, ../sass/_content.scss */
.limb {
  position: absolute;
  height: 70%;
  width: auto;
  z-index: 1000;
}
/* line 38, ../sass/_content.scss */
.limb.bunny {
  z-index: 100;
}

/* line 43, ../sass/_content.scss */
.shrink {
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.3s ease-in-out 0;
  -o-transition: all 0.3s ease-in-out 0;
  transition: all 0.3s ease-in-out 0;
}
/* line 45, ../sass/_content.scss */
.shrink.tomato {
  width: 50px;
}
/* line 49, ../sass/_content.scss */
.shrink.burrito {
  width: 100px;
}
/* line 53, ../sass/_content.scss */
.shrink.carrot {
  width: 120px;
}
/* line 57, ../sass/_content.scss */
.shrink.broccoli {
  width: 50px;
}

/* line 62, ../sass/_content.scss */
#cart {
  background: url("../../images/basket.svg") no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40%;
  min-width: 300px;
  left: 5%;
  top: 10%;
  min-height: 300px;
}

/* line 82, ../sass/_content.scss */
.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 92, ../sass/_content.scss */
#shelf {
  color: #fff;
  font-size: 18px;
  background-image: url("../../images/shelf.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 35%;
  min-width: 300px;
  right: 5%;
  top: 10%;
  bottom: 2%;
  max-height: 80%;
  min-height: 300px;
}
/* line 96, ../sass/_content.scss */
#shelf .sign {
  position: absolute;
}
/* line 100, ../sass/_content.scss */
#shelf .sign.sign-tomatoes {
  left: 21%;
  top: 4%;
}
/* line 105, ../sass/_content.scss */
#shelf .sign.sign-broccoli {
  left: 67%;
  top: 4%;
}
/* line 110, ../sass/_content.scss */
#shelf .sign.sign-burritos {
  top: 92%;
  left: 67%;
}
/* line 115, ../sass/_content.scss */
#shelf .sign.sign-carrots {
  top: 92%;
  left: 22%;
}

/* line 143, ../sass/_content.scss */
.checkout {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 28px;
  position: absolute;
  left: 35%;
  width: 300px;
  padding: 20px 20px;
}

/* line 159, ../sass/_content.scss */
.button-checkout {
  bottom: 20%;
  cursor: pointer;
  background-image: url("../../images/tileable_wood_texture.png");
  border: 2px solid rgba(0, 0, 0, 0.2);
}
