@font-face {
    font-family: 'eraserdustregular';
    src: url('erasdust-webfont.eot');
    src: url('erasdust-webfont.eot?#iefix') format('embedded-opentype'),
         url('erasdust-webfont.woff') format('woff'),
         url('erasdust-webfont.ttf') format('truetype'),
         url('erasdust-webfont.svg#eraserdustregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eraserregular';
    src: url('eraser-webfont.eot');
    src: url('eraser-webfont.eot?#iefix') format('embedded-opentype'),
         url('eraser-webfont.woff') format('woff'),
         url('eraser-webfont.ttf') format('truetype'),
         url('eraser-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;

}